.navbar {
    font-family: 'Comfortaa', cursive;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: darkgrey;
}

.jumbotron {
    font-family: 'Comfortaa', cursive;
}

.card-header {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.dd {
    font-family: 'Lato', sans-serif;
}


.center {
    display: block;
    margin-left: auto;
    margin-top: 70px;
    margin-right: auto;
    width: 50%;
}

.figure-caption {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
}

.footer {
    background-color: black;
    color: white;
    height: 170px;
    font-family: 'Comfortaa', cursive;
}


i {
    font-size: 30px;
    color: white;

}
