.navbar {
    font-family: 'Comfortaa', cursive;
    background-color: white;
}

.jumbotron {
    font-family: 'Comfortaa', cursive;
}

.card-header {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
